.poster__bg{
    width: 18%;
    position: relative;
}
.poster__img{
    width: 100%;
    object-fit: cover;
    min-height: 320px;
}
.poster__name{
position: absolute;
    bottom: 10%;
    left: 10%;
    color: white;
    font-size: 16px;
    font-weight: bold;
}