.content{
    flex: 1 1 auto;
    position: relative;
}
.light{
    background: url('https://w0.peakpx.com/wallpaper/363/426/HD-wallpaper-avengers-endgame-avengers-assemble-marvel-entertainment.jpg') center/ cover no-repeat fixed;
}
.dark{

}